$c-body-bg: $c-white;
$c-text-default: $c-black;
$c-questions-title: $c-wild-sand;

$c-button-bg: transparent;
$c-button-border: $c-red-violet;
$c-button-shadow: rgba($c-red-violet, .6);
$c-button-plus-shadow: $c-black;
$c-button-icon-bg: $c-red-violet;
$c-button-icon-bg-active: $c-white;
$c-gradient-button-bg-active: linear-gradient(180deg, rgba($c-red-violet, 1) 0%, rgba($c-strawberry, 1) 100%);
$c-accordion-text-highlighting: $c-strawberry;
