body {
  background: $c-body-bg;
  color: $c-text-default;
  font-family: $font-raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  min-width: 320px;
}

img {
  height: auto;
  max-width: 100%;
}
